.titulo1{
    background-color: rgba(89, 192, 129, 0.5);
    color: black;
    display: flex;
    justify-content: center;
    font-family: cursive;
    
}
.titulo2{
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}
.contenedor{
    display: flex;
    justify-content: center;  
}
button{
    background-color: rgba(89, 192, 129, 0.5);
    color: black;
}
.table td{
    border:  3px solid;
    text-align: center;
}
table th : :hover{
    background-color: green;
    color: white;
}
button